<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itworx.tk.studentcallout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="ApplicationManager">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.itworx.tk.studentcallout.launcher" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/Theme.Transparent" >
        </activity>
    </application>

</manifest>